/* all */
*{
    
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@font-face {
    font-family: JejuHallasan;
    src: url(/jejuhallasan/JejuHallasan-Regular.ttf);
}

a{
    color: black;
}

.all{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* font-family: 'Amatic SC', sans-serif; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: JejuHallasan, Arial, sans-serif;
        font-weight: 600;
}
::-webkit-scrollbar{
    display: none;
}
/* home */
.home{
    padding: 20px 40px;
    width: 100%;
    height: 100vh;
    background-image: url("./IMAGES/olives-5043603.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    z-index: -2;
}
/* variete */
.variete{
    font-family: JejuHallasan, Arial, sans-serif;
    padding: 20px 40px;
    width: 100%;
    height: 100vh;
    background-image: url("./IMAGES/olives-1307154_1280.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    z-index: -2;
}
/* maroc */
.maroc{
    padding: 20px 40px;
    width: 100%;
    height: 100vh;
    background-image: url("./IMAGES/production-huile-olive-maroc-baisse.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    z-index: -2;
}
/* taille */
.taille{
    padding: 20px 40px;
    width: 100%;
    height: 100vh;
    background-image: url("./IMAGES/taille-de-lolivier.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    z-index: -2;
}
.white-bg {
    position: fixed;
    width: calc(100% - 80px);
    height: calc(100vh - 40px);
    background-color: rgba(103, 103, 103, 0.368);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.white-bk {
    /* position: fixed; */
    width: calc(100% - 80px);
    height: calc(100vh - 40px);
    background-color: rgba(103, 103, 103, 0.368);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.container{
    z-index: 10;
    position: relative;
}
nav{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
nav ul{
    width: 50%;
    line-height: 72px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 20px;

    text-align: black;
    
    
}
nav ul li{
    padding:5px;
    font-weight: 700;
}
.logo{
    width: 72px;
    height: 72px;
}

span{
    color: #9EF148;
}
.content{
    position: relative;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
    letter-spacing: 10px;
}
.line2{
    padding-left: 60px;   
}
.line3{
    padding-left: 120px;   
}

.description{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 40%;
    color: white;
    padding-top: 30px;
    padding-left: 200px;
}

.plant-btn{
    background: #9EF148;
    border: none;
    padding: 5px 50px;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Amatic SC', sans-serif;
    position: absolute;
    right: 8%;
    bottom: 22%;
    cursor: pointer;
}
.content-taille{
    position: relative;
    width: 100%;
    text-align: center;
}
.slide{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #C5DD85;

}
.slide button{
    height: 100%;
    padding: 10%  2%;
    background-color: transparent;
    border: none;
    
}
.left:hover{
    background: radial-gradient(100.66% 49.88% at 0% 50.12%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.right:hover{
    background: radial-gradient(100% 45.43% at 100% 50.12%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.fa-solid{
   font-size: 50px;
}
.slide h1, h3 ,h2{
    font-size: 30px;
    font-weight: bold;
    color: #488D00;
    padding-bottom: 20px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.slide-content{
    
    width: 65%;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: JejuHallasan, Arial, sans-serif;
}
.content-taille h1, h3 ,h2{
    font-size: 30px;
    font-weight: bold;
    color: #488D00;
    padding-bottom: 20px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.content-taille p{
    margin: auto;
    text-align: start;
    color: black;
    font-size: 20px;
    width: 60%;
    font-weight: bold;
    padding-bottom: 20px;
}

.slide-content p{
    text-align: start;
    color: black;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    padding-bottom: 20px;
}
.buttons{
    padding: 20px 0;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.taille-btn{
    background: #9EF148;
    border: none;
    padding: 20px 30px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Amatic SC', sans-serif;
    cursor: pointer;
}
 .maroc-content {
   
    height: 300px;

    max-height: 100%;
    overflow-y:scroll;
    width: 75vw;
    border: 1px solid black;
  }
  .holder {
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  
  }
  .maroc-content {
    display: flex;
    flex-direction:column;
    text-align: center;
    padding: 15px;
  }


.popup {
  

    position: absolute;
    z-index: 1000px;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: #9EF148;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    padding: 39px;
    
}
.popup-mok{
    display: flex;
    height: 100%;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-title{
    text-align: center;
    padding-bottom: 30px;
    
}
.close-popup{
    position: relative;
    top: -332px;
    left: 529px;
    background: none;
    border: none;
}

.animation_popup { 
    animation: slidePopup 1s linear alternate 1 forwards;
}

.clos_animation_popup {
    animation: closePopup 1s linear alternate 1 forwards;
}

@keyframes slidePopup {
    0% {
        top: 150%;
    }
    100% {
        top: 52%;
    }
}

@keyframes closePopup {
    0% {
        top: 50%;
    }
    100% {
        top: 150%;
    }
}   
/* --------------------biblio-------------- */
article {
    width: 222px;
    height: 368px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
}
article:hover{
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,1);
}


.book {
    border: 1 solid black;
    padding: 10px;
    width: 200px;
    height: 195px;
    height: auto;
    aspect-ratio: 5/6;
}


.title-book {
    display: flex;
    width: 222;
    border-bottom: 1px solid black;
    justify-content: center;
}

.title-book p {
    text-align: center;
    width: 183px;
    height: 43px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    overflow: hidden;
    color: #202E3B;


font-family: Century Gothic;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 21.6px; 

}

.price img {
    width: 24px;
    height: 23px;
    padding-right: 5px;

}

.amazon {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.price{
color: black;
font-family: Century Gothic;
}

.price-cont {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: black;

}

.amazon-button {
    width: 171.679px;
    height: 21.532px;
    background-color: #2B8906;
    color: #FFF;
    text-align: center;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
   border: none;
   border-radius: 4px;

}
.amazon-button:hover {
    background: linear-gradient(180deg, #2B8906, transparent 99%);
    color: black;
}

.same-book{
    display: flex;
    justify-content: center;
    list-style: none;
}
.same-book li {
    padding: 10px;
}